<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.head.picker">
    <application>
        <provider
            android:name=".provider.ImageSelectorProvider"
            android:authorities="${applicationId}.imageSelectorProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_selector_file_paths" />
        </provider>
        <activity
            android:name=".ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ClipImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
